# Byte-compiled Python files
*.pyc
__pycache__/

# Virtual environment
*.env
.venv/
emotion-env/

# Dataset and cache
*.parquet
*.arrow
cache/
datasets/

# Logs and temporary files
*.log
logs/
results/

# Docker-related (only ignore `.dockerignore`, not `Dockerfile`)
*.dockerignore

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (if any are added later)
.ipynb_checkpoints/

# IDE and editor files
.idea/
.vscode/
*.swp
